.filter_box {
  position: absolute;
  width: 15%;
  height: 627px;
  left: 0;
  top: 200px;
  overflow: hidden;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
  display: inline-block;
  padding: 35px;

  text-align: left;

  background: #f9b916;
}

.cutoff_box {
  margin_right: 15px;
  padding-right: 15px;
  overflow: hidden;
}

select[option].filter_box {
  overflow: hidden;
  border: 0px 0px 1px 0px;
}

select.filter_box {
  display: inline;
  /* border: none; */
  border: 0px;
  outline: 0px;
}

/* thought, a label is probably a block */
