.filter_box {
  position: absolute;
  width: 15%;
  height: 627px;
  left: 0;
  top: 200px;
  overflow: hidden;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 0px;
  display: inline-block;
  padding: 35px;

  text-align: left;

  background: #f9b916;
}

select[option].filter_box {
  overflow: hidden;
}

select.filter_box {
  display: inline;
}

/* thought, a label is probably a block */
