/* home page */

/* top button row */
.button_row {
  display: flex;
  justify-content: space-around;

  position: absolute;
  width: 85%;
  height: 85px;
  right: 0;
  top: 0;
  font-weight: bold;

  background: #f9b916;
}

/* left top banner */
.sn_banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 15%;
  height: 125px;
  left: 0;
  top: 0;
  padding: 0px;
  margin: 0px;

  background: #f9b916;


/* left top banner: font */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  /* font-size: 1rem; */
  line-height: 30px;
  /* or 111% */

  color: rgb(255, 0, 0);

  border: 1px solirgb(184, 150, 150);
}


/* center grid */
.main_grid {
  position: absolute;
  width: 50%;
  height: 622px;
  left: 25%;
  /* right: 20%; */
  top: 254px;
}

/* */
.button_row {
  display: flex;
  justify-content: space-around;

  position: absolute;
  width: 80%;
  height: 85px;
  right: 0;
  top: 0;
  font-weight: bold;

  background: #f9b916;
}

@media only screen and (min-width: 992px) {

  .sn_banner {

  }

  .main_grid {

  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  .sn_banner {
    /* font-size: 1rem; */
  }

  .main_grid {

  }

}

@media only screen and (max-width: 600px) {



}
