.login_page {
  border: 1px solid #000000;
  position: relative;
  /* left: 100px; */
  box-sizing: border-box;
  border-radius: 0px;
  display: inline-block;
  width: 750px;
  padding: 20px;
  background-image: linear-gradient(to bottom right, yellow, orange);
  /* background:  */
}

/* body {
  background-image: linear-gradient(to bottom right, yellow, orange);
  background-repeat: no-repeat;
} */

.flex_center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  display: inline-block;
  position: relative;
  right: 200px;
  top: 100px;
  text-align: left;
  width: 184px;
  /* background-color: yellow; */
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 24px;
}

.login_box {
  position: relative;
  box-sizing: border-box;
  width: 350px;
  left: 350px;
  bottom: 100px;
  border: 1px solid #000000;
  padding: 10px 0px;
}

.sign_up {
  position: relative;
  left: 175px;
  bottom: 100px;
}

label {
  display: inline-block;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="textarea"] {
  width: 250px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  /* border-style: 0px 0px 10px 0px; */
  /* background-color:rgba(0, 0, 0, 0.5); */
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

input[type="email"]:active,
input[type="password"]:active {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.login_box select {

  /* font-size: 18px; */

  background-color: transparent;
  max-width: 90%;
  /* border-radius: 5px; */
 
}

.login_box select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option::selected {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

textarea {
  background-color: transparent;
}